* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(228, 228, 228);
    font-family: "Work Sans", sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100px;
}

h1 {
    font-family: "Fjalla One", sans-serif;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

form {
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
}

fieldset {
    padding: 15px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 7px;
}